/* windows95.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #008080; /* Windows 95 teal background */
}

.windows95-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #c0c0c0; /* Windows 95 window background */
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Window shadow */
}

.windows95-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008080; /* Windows 95 teal title bar */
    padding: 5px;
}

.windows95-title {
    color: #fff;
}

.windows95-close-btn {
    background-color: #ff0000; /* Windows 95 close button */
    border: none;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
}

.windows95-close-btn:hover {
    background-color: #ff6666; /* Hover color */
}

.windows95-content {
    padding: 20px;
}

.windows95-popup {
    display: none;
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
}

/* Chaos page */

.windows95-container-chaos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #c0c0c0; /* Windows 95 window background */
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Window shadow */
}

.windows95-content-chaos {
    padding: 20px;
}

.chaos-link {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px 12px;
    border-radius: 3px;
    width: 150px;
}

.chaos-link:hover {
    background-color: #d3d3d3;
}

.chaos-link-third {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
}

.chaos-link-third:hover {
    background-color: #d3d3d3;
}
